.title {
	$self: &;
	font-family: "IN", sans-serif;
	font-weight: 700;
	font-size: 48px;
	text-transform: uppercase;
	
	@include media('<=xxxlg') {
		font-size: 46px;
	}
	
	@include media('<=xxlg') {
		font-size: 42px;
	}
	
	@include media('<=xlg') {
		font-size: 38px;
	}
	
	@include media('<=lg') {
		font-size: 34px;
	}
	
	@include media('<=md') {
		font-size: 30px;
	}
	
	@include media('<=sm') {
		font-size: 28px;
	}
	
	@include media('<=xs') {
		font-size: 24px;
	}
}
