.advantage {
	$self: &;
	margin-bottom: 170px;
	
	@include media('<=md') {
		margin-bottom: 130px;
	}
	
	@include media('<=sm') {
		margin-bottom: 100px;
	}
	
	@include media('<=xs') {
		margin-bottom: 80px;
	}

	&__inner {

	}

	&__title {
		text-align: center;
		margin-bottom: 110px;
		
		@include media('<=md') {
			margin-bottom: 75px;
		}
	}

	&__subtitle {
		font-family: "IN", sans-serif;
		font-weight: 600;
		font-size: 48px;
		line-height: 1.15;
		text-align: center;
		max-width: 1440px;
		margin: 0 auto 160px;
	
		@include media('<=xxxlg') {
			font-size: 46px;
		}
		
		@include media('<=xxlg') {
			font-size: 42px;
		}
		
		@include media('<=xlg') {
			font-size: 38px;
		}
		
		@include media('<=lg') {
			font-size: 34px;
		}
		
		@include media('<=md') {
			margin: 0 auto 95px;
			font-size: 30px;
		}
		
		@include media('<=sm') {
			font-size: 28px;
		}
		
		@include media('<=xs') {
			font-size: 24px;
		}
	
		span {
			text-decoration: underline;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: minmax(340px, 550px) minmax(500px, 1fr);
		grid-gap: 110px 60px;
		align-items: center;
		
		@include media('<=xlg') {
			grid-gap: 90px 50px;
		}
		
		@include media('<=lg') {
			grid-gap: 70px 40px;
		}
			
		@include media('<=md') {
			display: block;
		}
	}
	
	&__item-title {
		font-weight: 700;
		font-size: 40px;
		color: #fff;

		@include media('<=md') {
			margin-bottom: 30px;
		}
		
		span {
			display: block;
			box-sizing: border-box;
			background-color: #4A45BD;
			padding: 35px;
			border-radius: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			min-height: 175px;
	
			@include media('<=xxxlg') {
				font-size: 38px;
			}
		
			@include media('<=xxlg') {
				font-size: 34px;
			}
		
			@include media('<=xlg') {
				min-height: 165px;
				font-size: 32px;
			}
			
			@include media('<=lg') {
				padding: 30px;
				min-height: 155px;
				font-size: 30px;
			}
			
			@include media('<=md') {
				padding: 25px;
				min-height: auto;
				font-size: 28px;
			}
			
			@include media('<=sm') {
				padding: 20px;
				font-size: 24px;
			}
			
			@include media('<=xs') {
				padding: 15px;
				font-size: 22px;
			}
		}
	}
	
	&__item-text {
		font-weight: 500;
		font-size: 36px;
	
		@include media('<=xxxlg') {
			font-size: 34px;
		}
	
		@include media('<=xxlg') {
			font-size: 32px;
		}
	
		@include media('<=xlg') {
			font-size: 30px;
		}
	
		@include media('<=lg') {
			font-size: 28px;
		}
		
		@include media('<=md') {
			font-size: 26px;
			margin-bottom: 30px;
		}
		
		@include media('<=sm') {
			font-size: 24px;
		}
		
		@include media('<=xs') {
			font-size: 22px;
		}
		
		@include media('<=xxs') {
			font-size: 20px;
		}
	}
}
