.start {
	$self: &;

	&__title {
		box-sizing: border-box;
		background-color: rgba(75, 69, 189, 0.44);
		text-align: center;
		padding: 80px 24px;
		line-height: 1.15;
		margin-bottom: 120px;
		
		@include media('<=sm') {
			margin-bottom: 100px;
		}
		
		@include media('<=xs') {
			padding: 60px 16px;
			// margin-bottom: 100px;
		}
	}

	&__form {

	}
}