.header {
	$self: &;
	box-sizing: border-box;
	min-height: 890px;
	background: url('#{$images-path}header-bg.png') center top / cover no-repeat transparent;
	margin-bottom: 110px;
	padding: 24px 0 48px;
	
	@include media('<=xxxlg') {
		min-height: 800px;
	}
	
	@include media('<=xxlg') {
		min-height: 720px;
	}
	
	@include media('<=xlg') {
		min-height: 700px;
		background-position: left -120px top;
	}
	
	@include media('<=lg') {
		min-height: 640px;
	}
	
	@include media('<=md') {
		min-height: 600px;
	}
	
	@include media('<=sm') {
		background-position: left -165px top;
		min-height: 500px;
	}
	
	@include media('<=xxs') {
		background-position: center top;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 50px;
		margin-bottom: 165px;
		max-width: 1800px;
		
		@include media('<=xxxlg') {
			margin-bottom: 130px;
		}
		
		@include media('<=xxlg') {
			margin-bottom: 100px;
		}
		
		@include media('<=sm') {
			justify-content: space-between;
			margin-bottom: 80px;
			gap: 40px;
		}
		
		@include media('<=xs') {
			gap: 25px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 70px;
			display: block;
		}
	}

	&__logo {
	
		@include media('<=xxs') {
			margin: 0 auto;
		}
	}

	&__button {
	
		@include media('<=xxs') {
			display: none;
		}

		&_mobile {
			margin: 0 auto;
			display: none;
	
			@include media('<=xxs') {
				display: block;
			}
		}
	}

	&__bottom {
		max-width: 1800px;
	}

	&__title {
		max-width: 1200px;
		text-align: right;
		margin-left: auto;
		
		@include media('<=xxs') {
			text-align: center;
			text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
			margin: 0 auto 50px;
		}
	}
}